@tailwind base;
@tailwind components;
@tailwind utilities;


/* PAGINATION */

.ant-pagination-item-active{
    border-color: #B8860B !important;
}

.ant-pagination-item-active a{
    color: #B8860B !important;
}

.ant-pagination-prev{
    background-color: white;
}

.ant-pagination-next{
    background-color: white;
}


/* BUTTONS */

.ant-btn-variant-solid{
    background-color: #B8860B;
}
.ant-btn-variant-solid:hover{
    background-color: #b99539 !important;
}

.ant-btn-variant-outlined:hover{
    border-color: #b99539 !important;
    color: #B8860B  !important;
}

.ant-btn-default{
    background-color: #B8860B;
    /* color: white; */
}


.ant-input-group-addon button{
    background-color: white !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}


/* SELECT */

.ant-input{
    border-radius: 2px !important;

}

.ant-select-selector{
    border-radius: 2px !important;
    text-align: center;
}